.nav-bar a {
        color: #0b4469; /* Set link color */
        text-decoration: none; /* Remove underline */
        font-size: large;
        font-family: helvetica, sans-serif;
        padding-left: 1%; padding-right: 1%;
    }
    
.nav-bar {
        padding: 3%;
        position: fixed;
        overflow: hidden;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: #f4f5f4;
        left: 0;
}

table {
        border: 1px solid #0b4469; 
        width: 100%;
        font-size: large;
        font-family: helvetica, sans-serif;
        color: #0b4469;
        margin-top: 190px; 
}

th, td {
        border: 1px solid  #0b4469; 
        padding: 8px; 
        text-align: left; 
        font-size: large;
        font-family: helvetica, sans-serif;
        color: #0b4469; 
}
    
.table {
        padding: 3%;
}