* {
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sometype Mono', monospace;
    text-align:center;

}

.form {
    padding: 20px;
    text-align: center;
    margin: auto;
    
}


.text_box {
    width: 25%;
    padding: 20px;
    text-align: center;
    margin: auto;
    

}


.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input {
    padding: 10px;
    width: 25%;
    margin: 10px;
    background-color: #78c0ec;
}




