h1 {
    font-family: Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    color: #263b53;
    font-size: 40px;
    margin-bottom: 200px;
}

a {
    text-decoration: none; 
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.background-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%; 
    height: 360px; 
    background-color: rgba(166, 167, 163, 0.2); 
    z-index: -1;
    border-radius: 20px;
    margin-top:  10px;
}

img {
    position: absolute;
    top: 15px; 
    left: 20px; 
    width: 80px; 
    height: auto; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
}

.table-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto); 
    gap: 5px; 
    margin-bottom: 250px;
}

.table-header {
    font-family: Helvetica, sans-serif;
    font-weight: bold; 
    color: #263b53; 

}

.table-cell {
    padding: 10px;
    border: 1px solid black; 
    font-family: Helvetica, sans-serif;

}
.table-cell {
    padding: 10px;
    border: 1px solid black; 
    font-family: Helvetica, sans-serif;

}
